<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSF-PAYMENTS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/img/bank.png" type="image/x-icon">
    <script defer src="script.js"></script>

</head>
<body>
    <div class="navbar">
        <div class="nav-logo">
            <a href="/index.html">
               <img src="/img/bank.png" alt="Bank Logo" width="50">
           </a>
        </div>
        <ul class="list">
            <li class="nav-item"><a href="/index.html" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/reg.html" class="nav-link">REGISTER</a></li>
            <li class="nav-item"><a href="/acc" class="nav-link">ACCOUNTS</a></li>
            <li class="nav-item"><a href="/trans.html" class="nav-link">TRANSFER</a></li>
            <li class="nav-item"><a href="/history" class="nav-link">PAYMENTS</a></li>
            <li class="nav-item"><a href="/cont.html" class="nav-link">CONTACT</a></li>
        </ul>
</div>
    <footer class="footer-section">
        <h6>THANKS FOR VISITING!!</h6>
        <p>&copy; 2023 TSF</p>
      </footer>
      <script src="script.js"></script>

</body>
</html>